

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body{ 

    font-family: 'Roboto', Helvetica, sans-serif; /*fontes*/
    color: black; /*cor da fonte*/
    font-size: 62.5%;
    text-rendering: optimizeLegibility;

}

body{
    background-color: rgb(249, 249, 249);
}


.navbar-brand{
    width: 9rem;
}

.links{
padding-left: 6rem;
}


.seta{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: rgb(161, 161, 161);

}


.icone-card{
    font-size: 5rem;
    color: white;
}

.bg-color{
    font-size: 1.5rem;
    margin-top: -3.5rem;
    background-color: white;
    
}


.botao-slider{
    font-size: 4rem;
    margin-top: -10rem;
 

}

.botao-card{
    margin-top:1rem;
    font-size: 3rem;
    border-radius:1rem ;
    margin-bottom: 4.3rem;
}

.txt-card{
    font-size:1.5rem;
    color: white;
    font-weight: 100;
}

#slider-container{
    margin-top: 7rem;
}

.cartao{
    border-radius: 2rem;
    background-color: black;
    margin-top: -8rem;
    padding-bottom: 3rem;

}

.nav-link{
    margin-top: 2rem;
}

#logo{
margin-top: 2rem;
width: 5rem;
}

.galeria{
    width: 50rem;
}


/*===================================================*/
@media (max-width:575px){

.cartao{
    margin-top: 1rem;
}

.botao-slider{
    font-size: 2rem;
}

}

@media (max-width:765px){


    .card{
        max-height: 55rem;
    }
    
    .botao-slider{
        font-size: 2rem;
    }
    
      #featured-images .banner-content {
        opacity: 0;
      }

    }

    

/*=============================================================*/

.navbar-toggler{
    border: none;
    font-size: 3rem;
    color: black;
    margin-top: 1rem;
}


.texto-primario{
    font-size: 7rem;
    width: 11.5rem;
  border-top: 0.4rem solid #a5a5a5;
  content: '';
  position: relative;
}

.texto-secundario{
    font-size: 3rem;
    font-weight: 100;
}

.modal-css{
    font-size: 2rem;
    margin-top: 25rem;
    font-family: 'Roboto',Arial;
}

.btn-close{
font-size: 1.7rem;
}

/* DESTAQUES */
#featured-container {
    margin-bottom: 4em;
  }
  
  #featured-images {
    margin-top: 2em;
  }
  
  #featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
  }
  
  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
  }
  
  #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
    font-size: 2rem;
    font-family: 'Roboto' ,Arial;
    font-weight: 100;
  }

  .btn-close{
    padding: 1rem;
    padding-left: 93rem;
  }

  #mapagoogle{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer{
    width: 164rem;
    height: 25rem;
    margin-left: -17rem;
    font-size: 2rem;
  }

